<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>tan.filters.FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>tan.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tan.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tan.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListQuizServlet</servlet-name>
        <servlet-class>tan.servlets.ViewListQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinQuizServlet</servlet-name>
        <servlet-class>tan.servlets.JoinQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <servlet-class>tan.servlets.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>tan.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListQuestionServlet</servlet-name>
        <servlet-class>tan.servlets.ViewListQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>tan.servlets.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>tan.servlets.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateQuestionServlet</servlet-name>
        <servlet-class>tan.servlets.ViewCreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>tan.servlets.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>tan.servlets.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <servlet-class>tan.servlets.ViewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>tan.servlets.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListQuizServlet</servlet-name>
        <url-pattern>/ViewListQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinQuizServlet</servlet-name>
        <url-pattern>/JoinQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListQuestionServlet</servlet-name>
        <url-pattern>/ViewListQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateQuestionServlet</servlet-name>
        <url-pattern>/ViewCreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/SearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <url-pattern>/ViewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>
            Resource reference to a factory for java.sql.Connection
            instances that may be used for talking to a particular
            database that is configured in the server.xml file.
        </description>
        <res-ref-name>
            DBCon
        </res-ref-name>
        <res-type>
            javax.sql.DataSource
        </res-type>
        <res-auth>
            Container
        </res-auth>
    </resource-ref>
    <context-param>
        <param-name>Log4jFileSavePath</param-name>
        <param-value>/logs</param-value>
    </context-param>
</web-app>
