/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2021, 12:51:51 PM
    Author     : tanta
*/
html, body {
    height: 100%;
    margin: 0px;
}
.container {
    height: 100%;
    background-image: linear-gradient(to bottom, #222831,#374045,#6f9eaf, #222831);
}
.container .mainer {
    color: white;
    font-size: 35px;
    display: inline-block;
    width: 100%;
    height: 97%;
}
.left-side {
    display: flex;
    box-sizing: border-box;
    width: 40%;
    float: left;
    height: 100%;
    align-items:center;
}
.left-side #logo img {
    margin-left: 400px;
    max-width: 500px;
}
.right-side {
    font-family: sans-serif;
    display: flex;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.right-side #loginForm {
    display: block;            
    color: white;
    border-radius: 30px;
    padding :50px 20px;
    width: 600px;
    height: 250px;
    /*border: 10px hidden ;*/
    background-image: linear-gradient(to bottom right,#374045, #383e56);
    box-shadow: 20px 20px 80px #f4f9f9;
    font-size:25px;
    float: left;
}
#loginForm a {
    font-size: 25px;
    margin-left: 20px;
    text-decoration: none;
}
.input {
    color:white;
    background-color: black;
    margin : 8px 5px;
    padding : 5px ;
    /*border-radius: 10px;*/
    border:none;
    width: 95%;
    height: 30px;
    /*border:1px solid  #cccccc;*/
    font-size: 20px;
}
a {
    color: #4d4d4d;
    font-size: 20px;
}
a:hover {
    color :white;
}
.button {
    text-shadow: 2px 2px 20px white;
    display: inline-block;
    color:white;
    background-color: #16c79a;
    margin-left: 0px;
    text-align: center;
    border:none;
    border-radius: 20px;
    padding: 10px;
    font-family: Comic Sans MS;
    font-size: 25px;
    width: 200px;
    height: 50px;
    line-height: 20px;   
}
.button:hover {
    color: #29293d;
    cursor: pointer;
}
.error {
    color: red;
    text-shadow:none;
    font-size: 20px;
    font-family:Times;
}

